ol {
  margin: 0;
  padding-left: 20px;
}

li {
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

li.status-done {
  text-decoration: line-through;
}

li .control-bar {
  float: right;
}

.material-icons {
  font-size: 20px;
  padding: 0 5px;
}

.material-icons.delete {
  color: red;
}

.material-icons.edit {
  color: grey;
}

.material-icons.done {
  color: green;
  font-weight: bold;
}

.selected {
  background-color: ivory;
}
