ul {
  margin: 0;
  padding: 5px;
}

li {
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 5px;
}

li span {
  float: right;
}

.material-icons {
  font-size: 20px;
  padding: 0 5px;
}

.material-icons.delete {
  color: red;
}

.material-icons.edit {
  color: grey;
}

.material-icons.done {
  color: green;
  font-weight: bold;
}

.selected {
  background-color: ivory;
}
